/* credits: https://stackoverflow.com/a/18798843 */
.italic-on-hover {
  -moz-transition: all 250ms;
  -webkit-transition: all 250ms;
  -o-transition: all 250ms;
  transition: all 250ms;
}

.italic-on-hover:hover {
  -webkit-transform: skewX(-10deg);
  -moz-transform: skewX(-10deg);
  -o-transform: skewX(-10deg);
  transform: skewX(-10deg);
}

.italic-active {
  -webkit-transform: skewX(-10deg);
  -moz-transform: skewX(-10deg);
  -o-transform: skewX(-10deg);
  transform: skewX(-10deg);
}
